.cim{
    width: 100%;
    text-align: center;
    background-color: cadetblue;
    color: black;
    font-size: larger;
}

.hatter{
    background-color: rgb(55.7, 55.3, 68.6);
    color: white;
}

.button {
    background-color: #1B1A55;
    color:white;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 8px;
    border: 3.5px solid #1B1A55;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: black;
}

.container {
    display: flex;
    background-color: cadetblue;
    color: black;
    font-size: larger;
    text-align: center;
}
.half {
    flex: 1;
    border: 1px solid rgb(255, 251, 251);
}

.alcim {
    font-size: larger;
    font-style: italic;
    color: aliceblue;
}
